/* Основной контейнер */
#container {
    text-align: center;
    padding: 20px;
    position: relative;
}

/* Счетчик кликов */
#counter {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}

/* Изображение манула */
#manul {
    width: 150px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.1s;
    border: 5px solid #000000; /* Черная обводка */
}

#manul:active {
    transform: scale(1.1); /* Увеличение при нажатии */
}

/* Прогресс-бар */
#energy-container {
    margin-top: 15px;
}

#energy-bar {
    width: 80%;
    max-width: 300px;
    height: 0px;
    background-color: #333;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    border: 2px solid #000000; /* Черная обводка */
}

#energy-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #00ff00; /* Зеленый цвет для заполнения прогресс-бара */
    border-radius: 10px;
    transition: width 0.1s;
}

/* Элемент +X при клике */
.plus-one {
    position: absolute;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: bold;
    pointer-events: none;
    transition: opacity 1s;
}

/* Кнопка прокачки */
#upgrade-container {
    margin-top: 20px;
}

#upgrade-info {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: bold;
}

#upgrade-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #007bff; /* Голубой цвет */
    border: 2px solid #000000; /* Черная обводка */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#upgrade-button:hover {
    background-color: #0056b3; /* Темнее синий при наведении */
}

#upgrade-button:disabled {
    background-color: #6c757d; /* Серый цвет для отключенной кнопки */
    cursor: not-allowed;
}

/* Фон страницы */
body {
    background: linear-gradient(135deg, #f5f5b3, #f2e03c); /* Более мягкий желтый градиент */
    color: #ffffff;
    font-family: 'Arial Black', sans-serif; /* Жирный шрифт */
    margin: 0;
    padding: 0;
    text-align: center;
}
